body{
    width:1024px;
    margin:auto;
    text-align: center;
}
.dropdown-toggle{
    background-color:#3369CB;
    float: left;
    /* margin-right:15px; */
    /* margin-left:15px; */
    width:25%;
}
.dropdown-toggle:hover{
    background-color:#33A0CB;
}